@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');


* {
 margin: 0;
 padding: 0; 
 box-sizing: border-box;
border: 1px solid red;
}

:root {
--main-color: #252B42;
--another-color: #374754;
--additional-color: #18171D; 
font-family: 'Montserrat', sans-serif;
--btn-color: #2091F9;
--button-color: #FFFFFF;  
--container-color: #252B42;
--prising-card-color: #2091F9, #DEDEDE;  
--card-color: #FFFFFF, #DEDEDE;
}

img {
    display: block;
    width: 100%; 
}

body {
max-width: 1200px;
margin: auto; 


}
