.header {
    background-image: url(../img/head-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 800px;
    min-width: 400px;
}

 /* Header Bar  */

.header__bar-nav {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 10px;
    right: 10px;
}


.header__bar-nav,.top-nav__item{
    text-decoration: none;
    color: #FFFFFF;
}
 


.header__bar-main-icon {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 31px;
    left: 25px;
    width: 186px;
    
}

.header__central-info {
color: #FFFFFF;
     





}




    








