header {
    background-image: url("img/header-banner.png");
    width: 1776px;
    Height: 930px;
    Top: -3px;
    Left:1.23px;
    
    }





.pricing {

background-color: #252B42;



}

 footer {

    background-color: #252B42;
 }