header {
background: url("img/header-bunner.png");
width: 1776px;
Height: 930px;
Top: -3px;
Left:1.23px;

}

.pricing {

background-color: #252B42;



}

.contact-social-icons > .icons {


color: #2091F9;




}